* {
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

form {
    width: 20%;
    position: relative;
    height: 50%;
    overflow: hidden;
}

.form {
    width: 200%;
    position: relative;
    height: 50%;
    overflow: hidden;
}

.name-section {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.pass-section {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.name-section input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none ;
    outline: none;
}

.pass-section input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none ;
    outline: none;
}

.name-section label {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.pass-section label {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.name-section label ::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -1px; 
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.pass-section label ::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -1px; 
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.content-pass {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.name-section input:focus + .label-name .content-name,
.name-section input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.pass-section input:focus + .label-password .content-pass,
.pass-section input:valid + .label-password .content-pass{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.name-section input:focus + .label-name::after,
.name-section input:valid + .label-name::after {
    transform: translateX(0%);
}

.pass-section input:focus + .label-password::after,
.pass-section input:valid + .label-password::after {
    transform: translateX(0%);
}